# data science
numpy
scipy
pandas>=1.2.0
adlfs>=2021.8.1
scikit-learn
torch
torchvision
Pillow>=10.0.1

# tracking
mlflow
azureml-mlflow
sqlparse>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
